.textAreaContainer {
  position: relative;
}
.emoji-mart {
  position: absolute;
  left: 0;
  z-index: 200;
}
.pickerContainer {
  position: absolute;
  right: 2px;
  color: #fff;
  top: -10px;
  cursor: pointer;
}
.emojiPicker {
  width: 20px;
  height: 20px;
}



@media(max-width:1200px){
  .pickerContainer { right: 0.167vw; top: -0.833vw; } .emojiPicker { width: 1.667vw; height: 1.667vw; } 
}