.regionList{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;align-content: stretch; list-style: none}
.regionList li{margin: 0 5px;}


.regionHeader, #thanks ul.regionList li {float: left;margin-right: 0;color: #666;border-bottom: none; cursor: pointer;opacity: 1;margin-bottom: 5px;font-family: 'Effra_Regular';font-size: 14px;margin: 0px 15px;}
ul.regionList li span {margin-right: 0;color: #666;border-bottom: none;cursor: pointer;opacity: 1;margin-bottom: 5px;font-family: 'Effra_Regular';font-size: 14px;line-height: 1;}
ul.regionList li.active span {color: #fff;}
.regionList{z-index: 1; position: relative}
.regionBlock {padding-top: 23px;padding-bottom: 13px;position:relative}
.regionBlock:after{content:"";position: absolute;width: 64%;height: 100%;background-color: #ddd;left: 18%;top: 0;border-radius: 50px;z-index: 0;}
ul.regionList li.active{color: #fff;background-color: #1D1D1B;border-radius: 15px;padding: 2px 9px;}


@media (max-width:1200px){
    .regionList li{margin: 0 0.417vw;} 
    .regionHeader, #thanks ul.regionList li {margin-bottom: 0.417vw;font-size: 1.167vw;margin: 0.000vw 1.250vw;} 
    ul.regionList li span {margin-bottom: 0.417vw;font-size: 1.167vw;} 
    .regionBlock {padding-top: 1.917vw;padding-bottom: 1.083vw;} 
    .regionBlock:after{border-radius: 4.167vw;} 
    ul.regionList li.active{border-radius: 1.250vw;padding: 0.167vw 0.750vw;}

}


@media(max-width:768px){
    .regionList li{margin: 0 0.625vw;} .regionHeader, #thanks ul.regionList li {margin-bottom: 0.625vw;font-size: 1.751vw;margin: 0.000vw 1.875vw;} ul.regionList li span {margin-bottom: 0.625vw;font-size: 1.751vw;} .regionBlock {padding-top: 2.876vw;padding-bottom: 1.624vw;} .regionBlock:after{border-radius: 6.250vw;} ul.regionList li.active{border-radius: 1.875vw;padding: 0.251vw 1.125vw;} 
}