.person {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 20px 27px 20px;
}
.person h5:first-of-type {
  margin-top: 22px;
}
.person h5:last-of-type {
  margin-top: 50px;
}

.badge.active .person {
  transform: scale(1) translateX(calc(-50% + 35px));
}
.badge .person {
  box-shadow: 7px 7px 27px rgba(0, 0, 0, 0.3);
}
.badge .num-green {
  font-size: 26px;
  padding: 7px;
  height: 41px;
}
.badge .num-red {
  font-size: 26px;
  width: 41px;
  height: 41px;
  padding-right: 2px;
  line-height: 41px;
}
.badge .person {
  background-color: rgba(255, 255, 255, 0.9);
  top: 80px;
  transition: 0.3s;
  transform-origin: 0% 0%;
  z-index: 3;
}
.badge .person:before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 19 24' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M0 24L18.7 0l.3 24H0z' fill='%23fff'/%3E%3C/svg%3E");
  position: absolute;
  width: 26px;
  height: 26px;
  top: -25px;
  left: calc(50% - 13px);
  background-repeat: no-repeat;
}
.badge .flex-col-c-t {
  margin: 0 12px;
}
.badge h5:first-of-type {
  margin-top: 31px;
}
.badge h5:last-of-type {
  margin-top: 20px;
}
.badge .reward {
  width: 60px;
  height: 60px;
}
.badge .rewards {
  width: 100%;
}

.num-green {
  font-family: "Effra_Regular";
  font-size: 37px;
  background-color: #5d9d95;
  color: #fff;
  display: inline-block;
  padding: 10px;
  border-radius: 40px;
  line-height: 1;
  white-space: nowrap;
  min-width: 56px;
  height: 56px;
  text-align: center;
}
.num-red {
  font-family: "Effra_Regular";
  font-size: 37px;
  background-color: #d1111d;
  color: #fff;
  display: inline-block;
  padding: 0;
  border-radius: 68px;
  line-height: 56px;
  text-align: center;
  width: 56px;
  height: 56px;
  padding-right: 2px;
}



@media (max-width:1200px){
  .person { padding: 1.250vw 1.667vw 2.250vw 1.667vw; } .person h5:first-of-type { margin-top: 1.833vw; } .person h5:last-of-type { margin-top: 4.167vw; } .badge.active .person { transform: scale(1) translateX(calc(-50% + 2.917vw)); } .badge .person { box-shadow: 0.583vw 0.583vw 2.250vw rgba(0, 0, 0, 0.3); } .badge .num-green { font-size: 2.167vw; padding: 0.583vw; height: 3.417vw; } .badge .num-red { font-size: 2.167vw; width: 3.417vw; height: 3.417vw; padding-right: 0.167vw; line-height: 3.417vw; } .badge .person { top: 6.667vw; } .badge .person:before { width: 2.167vw; height: 2.167vw; top: -2.083vw; left: calc(50% - 1.083vw); } .badge .flex-col-c-t { margin: 0 1.000vw; } .badge h5:first-of-type { margin-top: 2.583vw; } .badge h5:last-of-type { margin-top: 1.667vw; } .badge .reward { width: 5.000vw; height: 5.000vw; } .num-green { font-size: 3.083vw; padding: 0.833vw; border-radius: 3.333vw; min-width: 4.667vw; height: 4.667vw; } .num-red { font-size: 3.083vw; border-radius: 5.667vw; line-height: 4.667vw; width: 4.667vw; height: 4.667vw; padding-right: 0.167vw; } 

}