.person-photo > .person {
  transform: scale(0) translateX(calc(-50% + 35px));
  position: absolute;
}
.person-photo {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #731515;
  text-align: left;
  margin-right: 17px;
  background-color: #ddd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.person-photo > img {
  width: 100%;
  height: auto;
}
.badge,
.person-container {
  position: relative;
  cursor: pointer;
}
.badge .person {
  position: absolute;
  width: 400px;
  margin-left: -170px;
  left: 0;
}
.peoplePicker .badge .person {
  margin-left: -199px;
  top: 27px;
}
.preson-info {
  text-align: left;
}
.person-photo {
  
}

@media (max-width:1200px){
.person-photo > .person { transform: scale(0) translateX(calc(-50% + 2.917vw)); } .person-photo { width: 5.833vw; height: 5.833vw; margin-right: 1.417vw; } .badge .person { width: 33.333vw; margin-left: -14.167vw; } 
.peoplePicker .badge .person { margin-left: -16.583vw; top: 2.250vw;} 
}

@media(max-width:768px){
  .person-photo > .person { transform: scale(0) translateX(calc(-50% + 4.375vw)); } .person-photo { width: 8.750vw; height: 8.750vw; margin-right: 2.126vw; } .badge .person { width: 49.999vw; margin-left: -21.250vw; } .peoplePicker .badge .person { margin-left: -24.874vw; top: 3.375vw;}
}